@import url("https://fonts.googleapis.com/css?family=Dosis:400,800");

body {
  font-family: Dosis, sans-serif;
  font-weight: bolder;
}
header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
p {
  padding: 10px;
}
.question {
  width: 300px;
  height: 260px;
  border: 2px solid #ffc107;
  border-radius: 4px;
  background-size: contain;
  margin-right: 40px;
}
.explanation {
  width: 300px;
  height: 260px;
  border: 2px solid #ffc107;
  border-radius: 4px;
  background-size: contain;
  margin-right: 40px;
}
.solution {
  display: none;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 40%;
  text-align: center;
  background-color: #ffc107;
  color: white;
  border-radius: 4px;
  border: 1px solid white;
  font-size: 10px;
}
.playground {
  display: flex;
  justify-content: center;
  width: 60%;
}
.true-false {
  display: flex;
  justify-content: center;
  padding: 10px 60px;
  margin-left: 70px;
  margin-top: 40px;
}
.btn {
  font-weight: 800;
  border: 2px solid #6d757c;
}
.wallet {
  margin-left: 40px;
}

.true {
  margin-right: 40px;
}

.coin1,
.coin2,
.coin3,
.coin4,
.coin5 {
  width: 40px;
  height: 40px;
  border: 3px solid #ffc107;
  border-radius: 100%;
  margin: 15px 10px 0 0;
  background-image: none;
}
ul {
  list-style-type: none;
}

.game-end,
.win {
  display: none;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60%;
  text-align: center;
  background-color: #ffc107;
  color: white;
  border-radius: 4px;
  border: 1px solid white;
  z-index: -100;
}

/* .game-end {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
} */

/* .popup-content {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 40%;
  text-align: center;
  background-color: #ffc107;
  color: white;
  border-radius: 4px;
  border: 1px solid white;
} */
